In [4]:
# 데이터 전처리 및 분석 기본 코드
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager

f_path = "C:/windows/Fonts/malgun.ttf"
font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')

In [5]:
df = pd.read_csv('./result/음주운전 적발 및 비율_2010_2021.csv', encoding='cp949')

In [6]:
df.head()

,년도,1회,2회,3회,4회,5회,6회,7회이상,총합,운전면허 소지자 수,...,10대,20대,30대,40대,50대,60대,70대이상,불상,연령총합,연령총합(불상포함)
0,2010,179086,79314,30103,9705,3118,903,478,302707,26402364,...,1878.0,58888,92381,93491,43579,8835,1168,2487,300220,302707
1,2011,151488,67195,26172,8925,3017,929,487,258213,27251153,...,1670.0,48005,79458,78972,40415,7730,1156,807,257406,258213
2,2012,142803,63990,25607,9094,3179,1085,525,246283,28263317,...,1721.0,44597,75566,74935,40172,8008,1274,10,246273,246283
3,2013,154992,69863,28862,10391,3718,1285,725,269836,28848040,...,1655.0,46038,83102,81004,46604,8921,1527,985,268851,269836
4,2014,142258,64813,28183,10534,3775,1396,829,251788,29544245,...,1731.0,41598,75674,75180,45237,9589,1583,1196,250592,251788

In [9]:
df.columns

Index(['년도', '1회', '2회', '3회', '4회', '5회', '6회', '7회이상', '총합', '운전면허 소지자 수',
       '적발자비율(총합/운전면허 소지자 수)', '재범률(총합 대비 2회 이상)', '10대', '20대', '30대', '40대',
       '50대', '60대', '70대이상', '불상', '연령총합', '연령총합(불상포함)'],
      dtype='object')

In [11]:
df = df.rename(columns={'년도': '연도'})
df

,연도,1회,2회,3회,4회,5회,6회,7회이상,총합,운전면허 소지자 수,...,10대,20대,30대,40대,50대,60대,70대이상,불상,연령총합,연령총합(불상포함)
0,2010,179086,79314,30103,9705,3118,903,478,302707,26402364,...,1878.0,58888,92381,93491,43579,8835,1168,2487,300220,302707
1,2011,151488,67195,26172,8925,3017,929,487,258213,27251153,...,1670.0,48005,79458,78972,40415,7730,1156,807,257406,258213
2,2012,142803,63990,25607,9094,3179,1085,525,246283,28263317,...,1721.0,44597,75566,74935,40172,8008,1274,10,246273,246283
3,2013,154992,69863,28862,10391,3718,1285,725,269836,28848040,...,1655.0,46038,83102,81004,46604,8921,1527,985,268851,269836
4,2014,142258,64813,28183,10534,3775,1396,829,251788,29544245,...,1731.0,41598,75674,75180,45237,9589,1583,1196,250592,251788
5,2015,135096,63018,27552,10810,4171,1556,897,243100,30293621,...,1886.0,40267,70870,70954,45232,10987,1724,1180,241920,243100
6,2016,125736,57666,25856,10494,4131,1599,1117,226599,31190359,...,1628.0,39032,65262,63875,41765,10353,1669,3015,223584,226599
7,2017,114585,51130,23396,9364,3896,1527,1289,205187,31665393,...,1343.0,37699,57526,55276,37963,10696,1741,2943,202244,205187
8,2018,90168,40648,19025,7884,3189,1280,866,163060,32161081,...,818.0,29959,44472,42623,31411,9592,1708,2477,160583,163060
9,2019,73572,31487,14693,6416,2696,1102,806,130772,32649584,...,274.0,25388,34434,32123,24911,8447,1578,3617,127155,130772
10,2020,64229,28347,13836,6273,2735,1228,901,117549,33190565,...,NaN,21301,27979,28700,24592,9713,1680,3584,113965,117549
11,2021,64300,27355,13278,6150,2636,1186,977,115882,33729806,...,NaN,20704,26917,28178,24220,10348,1735,3780,112102,115882

In [22]:
df2 = df.iloc[:, list(range(9))+[11]]
df2

,연도,1회,2회,3회,4회,5회,6회,7회이상,총합,재범률(총합 대비 2회 이상)
0,2010,179086,79314,30103,9705,3118,903,478,302707,0.408385
1,2011,151488,67195,26172,8925,3017,929,487,258213,0.413322
2,2012,142803,63990,25607,9094,3179,1085,525,246283,0.420167
3,2013,154992,69863,28862,10391,3718,1285,725,269836,0.425607
4,2014,142258,64813,28183,10534,3775,1396,829,251788,0.435009
5,2015,135096,63018,27552,10810,4171,1556,897,243100,0.444278
6,2016,125736,57666,25856,10494,4131,1599,1117,226599,0.445117
7,2017,114585,51130,23396,9364,3896,1527,1289,205187,0.441558
8,2018,90168,40648,19025,7884,3189,1280,866,163060,0.447026
9,2019,73572,31487,14693,6416,2696,1102,806,130772,0.437403
10,2020,64229,28347,13836,6273,2735,1228,901,117549,0.453598
11,2021,64300,27355,13278,6150,2636,1186,977,115882,0.445125

In [25]:
total = df2.iloc[:, 3:8].sum(axis=1)
third_rate = total / df2['총합']

df2['재범률(3회 이상)'] = third_rate
df2

C:\Users\art\AppData\Local\Temp\ipykernel_20076\1593320080.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['재범률(3회 이상)'] = third_rate

,연도,1회,2회,3회,4회,5회,6회,7회이상,총합,재범률(총합 대비 2회 이상),재범률(3회 이상)
0,2010,179086,79314,30103,9705,3118,903,478,302707,0.408385,0.146369
1,2011,151488,67195,26172,8925,3017,929,487,258213,0.413322,0.153091
2,2012,142803,63990,25607,9094,3179,1085,525,246283,0.420167,0.160344
3,2013,154992,69863,28862,10391,3718,1285,725,269836,0.425607,0.166698
4,2014,142258,64813,28183,10534,3775,1396,829,251788,0.435009,0.177598
5,2015,135096,63018,27552,10810,4171,1556,897,243100,0.444278,0.185051
6,2016,125736,57666,25856,10494,4131,1599,1117,226599,0.445117,0.190632
7,2017,114585,51130,23396,9364,3896,1527,1289,205187,0.441558,0.192371
8,2018,90168,40648,19025,7884,3189,1280,866,163060,0.447026,0.197743
9,2019,73572,31487,14693,6416,2696,1102,806,130772,0.437403,0.196625
10,2020,64229,28347,13836,6273,2735,1228,901,117549,0.453598,0.212448
11,2021,64300,27355,13278,6150,2636,1186,977,115882,0.445125,0.209066

In [27]:
df2 = df2.rename(columns={'재범률(총합 대비 2회 이상)':'재범률(2회 이상)'})
df2

,연도,1회,2회,3회,4회,5회,6회,7회이상,총합,재범률(2회 이상),재범률(3회 이상)
0,2010,179086,79314,30103,9705,3118,903,478,302707,0.408385,0.146369
1,2011,151488,67195,26172,8925,3017,929,487,258213,0.413322,0.153091
2,2012,142803,63990,25607,9094,3179,1085,525,246283,0.420167,0.160344
3,2013,154992,69863,28862,10391,3718,1285,725,269836,0.425607,0.166698
4,2014,142258,64813,28183,10534,3775,1396,829,251788,0.435009,0.177598
5,2015,135096,63018,27552,10810,4171,1556,897,243100,0.444278,0.185051
6,2016,125736,57666,25856,10494,4131,1599,1117,226599,0.445117,0.190632
7,2017,114585,51130,23396,9364,3896,1527,1289,205187,0.441558,0.192371
8,2018,90168,40648,19025,7884,3189,1280,866,163060,0.447026,0.197743
9,2019,73572,31487,14693,6416,2696,1102,806,130772,0.437403,0.196625
10,2020,64229,28347,13836,6273,2735,1228,901,117549,0.453598,0.212448
11,2021,64300,27355,13278,6150,2636,1186,977,115882,0.445125,0.209066

In [30]:
df2['재범률(2회 이상)'] = (df2['재범률(2회 이상)'] * 100).round(1).astype(str) + '%'
df2['재범률(3회 이상)'] = (df2['재범률(3회 이상)'] * 100).round(1).astype(str) + '%'
df2

,연도,1회,2회,3회,4회,5회,6회,7회이상,총합,재범률(2회 이상),재범률(3회 이상)
0,2010,179086,79314,30103,9705,3118,903,478,302707,40.8%,14.6%
1,2011,151488,67195,26172,8925,3017,929,487,258213,41.3%,15.3%
2,2012,142803,63990,25607,9094,3179,1085,525,246283,42.0%,16.0%
3,2013,154992,69863,28862,10391,3718,1285,725,269836,42.6%,16.7%
4,2014,142258,64813,28183,10534,3775,1396,829,251788,43.5%,17.8%
5,2015,135096,63018,27552,10810,4171,1556,897,243100,44.4%,18.5%
6,2016,125736,57666,25856,10494,4131,1599,1117,226599,44.5%,19.1%
7,2017,114585,51130,23396,9364,3896,1527,1289,205187,44.2%,19.2%
8,2018,90168,40648,19025,7884,3189,1280,866,163060,44.7%,19.8%
9,2019,73572,31487,14693,6416,2696,1102,806,130772,43.7%,19.7%
10,2020,64229,28347,13836,6273,2735,1228,901,117549,45.4%,21.2%
11,2021,64300,27355,13278,6150,2636,1186,977,115882,44.5%,20.9%