In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager

f_path = "C:/windows/Fonts/malgun.ttf"
font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')

C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df = pd.read_csv('경찰청_연령별 음주운전 적발기록 현황_20210326.csv', encoding='cp949')

In [3]:
df

      구분   10대    20대    30대    40대  50대이상
0   2010  1910  59445  93114  94149  53929
1   2011  1693  48217  79594  79279  49394
2   2012  1731  44968  75883  75286  50062
3   2013  1688  46242  83313  81250  57230
4   2014  1773  41857  75954  75451  56640
5   2015  1933  40497  71102  71266  58235
6   2016  1761  39627  66090  64556  54448
7   2017  1614  38251  58244  55877  51134
8   2018  1304  30372  45015  43097  43239
9   2019  1278  25969  35097  32678  35720
10  2020  1246  22090  28429  29153  36610

In [4]:
import numpy as np
df = df.rename(columns={'구분': '년도'})

# 데이터를 단순통합하는 것이므로 음주운전 재범자가 포함된 데이터의 연도를 축소하지 않음.
# df에 2021년도 데이터가 없으므로 NaN으로 채움
df.loc[11] = np.nan
df.loc[11]['년도'] = 2021
df

        년도     10대      20대      30대      40대    50대이상
0   2010.0  1910.0  59445.0  93114.0  94149.0  53929.0
1   2011.0  1693.0  48217.0  79594.0  79279.0  49394.0
2   2012.0  1731.0  44968.0  75883.0  75286.0  50062.0
3   2013.0  1688.0  46242.0  83313.0  81250.0  57230.0
4   2014.0  1773.0  41857.0  75954.0  75451.0  56640.0
5   2015.0  1933.0  40497.0  71102.0  71266.0  58235.0
6   2016.0  1761.0  39627.0  66090.0  64556.0  54448.0
7   2017.0  1614.0  38251.0  58244.0  55877.0  51134.0
8   2018.0  1304.0  30372.0  45015.0  43097.0  43239.0
9   2019.0  1278.0  25969.0  35097.0  32678.0  35720.0
10  2020.0  1246.0  22090.0  28429.0  29153.0  36610.0
11  2021.0     NaN      NaN      NaN      NaN      NaN

In [5]:
data = pd.read_csv('./result/음주운전 적발 및 비율_2010_2021.csv', encoding='cp949')

In [6]:
data

,년도,1회,2회,3회,4회,5회,6회,7회이상,총합,운전면허 소지자 수,적발자비율
0,2010,179086,79314,30103,9705,3118,903,478,302707,26402364,0.011465
1,2011,151488,67195,26172,8925,3017,929,487,258213,27251153,0.009475
2,2012,142803,63990,25607,9094,3179,1085,525,246283,28263317,0.008714
3,2013,154992,69863,28862,10391,3718,1285,725,269836,28848040,0.009354
4,2014,142258,64813,28183,10534,3775,1396,829,251788,29544245,0.008522
5,2015,135096,63018,27552,10810,4171,1556,897,243100,30293621,0.008025
6,2016,125736,57666,25856,10494,4131,1599,1117,226599,31190359,0.007265
7,2017,114585,51130,23396,9364,3896,1527,1289,205187,31665393,0.006480
8,2018,90168,40648,19025,7884,3189,1280,866,163060,32161081,0.005070
9,2019,73572,31487,14693,6416,2696,1102,806,130772,32649584,0.004005
10,2020,64229,28347,13836,6273,2735,1228,901,117549,33190565,0.003542
11,2021,64300,27355,13278,6150,2636,1186,977,115882,33729806,0.003436

In [7]:
# 년도를 기준으로 통합
merged_df = pd.merge(data, df, on='년도')
merged_df

,년도,1회,2회,3회,4회,5회,6회,7회이상,총합,운전면허 소지자 수,적발자비율,10대,20대,30대,40대,50대이상
0,2010,179086,79314,30103,9705,3118,903,478,302707,26402364,0.011465,1910.0,59445.0,93114.0,94149.0,53929.0
1,2011,151488,67195,26172,8925,3017,929,487,258213,27251153,0.009475,1693.0,48217.0,79594.0,79279.0,49394.0
2,2012,142803,63990,25607,9094,3179,1085,525,246283,28263317,0.008714,1731.0,44968.0,75883.0,75286.0,50062.0
3,2013,154992,69863,28862,10391,3718,1285,725,269836,28848040,0.009354,1688.0,46242.0,83313.0,81250.0,57230.0
4,2014,142258,64813,28183,10534,3775,1396,829,251788,29544245,0.008522,1773.0,41857.0,75954.0,75451.0,56640.0
5,2015,135096,63018,27552,10810,4171,1556,897,243100,30293621,0.008025,1933.0,40497.0,71102.0,71266.0,58235.0
6,2016,125736,57666,25856,10494,4131,1599,1117,226599,31190359,0.007265,1761.0,39627.0,66090.0,64556.0,54448.0
7,2017,114585,51130,23396,9364,3896,1527,1289,205187,31665393,0.006480,1614.0,38251.0,58244.0,55877.0,51134.0
8,2018,90168,40648,19025,7884,3189,1280,866,163060,32161081,0.005070,1304.0,30372.0,45015.0,43097.0,43239.0
9,2019,73572,31487,14693,6416,2696,1102,806,130772,32649584,0.004005,1278.0,25969.0,35097.0,32678.0,35720.0
10,2020,64229,28347,13836,6273,2735,1228,901,117549,33190565,0.003542,1246.0,22090.0,28429.0,29153.0,36610.0
11,2021,64300,27355,13278,6150,2636,1186,977,115882,33729806,0.003436,NaN,NaN,NaN,NaN,NaN

In [8]:
# 전체 운전자 대비 음주운전 적발 비율.
# 장롱면허도 있겠지만, 차량에 대한 접근성이 높은 현재로서는 본인이 희망하면 운전가능.
# 따라서 따로 처리하지 않고 적발자 비율 계산.

merged_df = merged_df.rename(columns={'적발자비율': '적발자비율(총합/운전면허 소지자 수)'})
merged_df

,년도,1회,2회,3회,4회,5회,6회,7회이상,총합,운전면허 소지자 수,적발자비율(총합/운전면허 소지자 수),10대,20대,30대,40대,50대이상
0,2010,179086,79314,30103,9705,3118,903,478,302707,26402364,0.011465,1910.0,59445.0,93114.0,94149.0,53929.0
1,2011,151488,67195,26172,8925,3017,929,487,258213,27251153,0.009475,1693.0,48217.0,79594.0,79279.0,49394.0
2,2012,142803,63990,25607,9094,3179,1085,525,246283,28263317,0.008714,1731.0,44968.0,75883.0,75286.0,50062.0
3,2013,154992,69863,28862,10391,3718,1285,725,269836,28848040,0.009354,1688.0,46242.0,83313.0,81250.0,57230.0
4,2014,142258,64813,28183,10534,3775,1396,829,251788,29544245,0.008522,1773.0,41857.0,75954.0,75451.0,56640.0
5,2015,135096,63018,27552,10810,4171,1556,897,243100,30293621,0.008025,1933.0,40497.0,71102.0,71266.0,58235.0
6,2016,125736,57666,25856,10494,4131,1599,1117,226599,31190359,0.007265,1761.0,39627.0,66090.0,64556.0,54448.0
7,2017,114585,51130,23396,9364,3896,1527,1289,205187,31665393,0.006480,1614.0,38251.0,58244.0,55877.0,51134.0
8,2018,90168,40648,19025,7884,3189,1280,866,163060,32161081,0.005070,1304.0,30372.0,45015.0,43097.0,43239.0
9,2019,73572,31487,14693,6416,2696,1102,806,130772,32649584,0.004005,1278.0,25969.0,35097.0,32678.0,35720.0
10,2020,64229,28347,13836,6273,2735,1228,901,117549,33190565,0.003542,1246.0,22090.0,28429.0,29153.0,36610.0
11,2021,64300,27355,13278,6150,2636,1186,977,115882,33729806,0.003436,NaN,NaN,NaN,NaN,NaN

In [10]:
merged_df.to_csv('음주운전 적발 및 비율_2010_2021.csv', index=False)

In [9]:
%pwd

'C:\\WORKSPACE-PYTHON\\multicampus\\drunk\\data'